.root {
    box-shadow: 0px 6px 10px rgba(2, 2, 2, 0.25);
    border-radius: 15px;
    overflow: visible;

    .filter-header {
        span {
            font-size: 16px;
            font-weight: bold;
        }
    }

    .filter-body {
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
            border: 1px solid black;
            border-radius: 15px;
            padding: 10px;
            width: 250px;
            font-size: 18px;
        }
    

        .filter-btn {
            color: #fff;
            background: orange;
            border: none;
            padding: 10px;
            width: 100px;
            border-radius: 10px;
        }

        
    }

}

